<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/public/css/style.css" />
        <title>Joy Rhee Portfolio</title>
      </head>
<body>
    <ul class="nav d-flex justify-content-around" id="nav">
        <li class="nav-item">
          <a class="nav-link fs-5" aria-current="page" href="../../index.html"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="./work.html">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="./contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="https://docs.google.com/document/d/1kuYsg34VDdUk0xcjh6V51tIn_Fgd9_joyUJ65NhWCew/edit?usp=sharing" target="_blank">Résumé</a>
        </li>
      </ul>

    <h1 class="d-flex justify-content-around p-4" id="work-header">Contact</h1>

    <div class="p-5" id="contact">
            <p><strong>Email: </strong> <a href="mailto:joyfullyx@gmail.com" id="email">joyfullyx@gmail.com</a></p>
            <p><strong>Github: </strong> <a href="https://github.com/joyfullyx" id="github">Github</a></p>
            <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/joy-rhee/" id="linkedin">LinkedIn</a></p>

    </div>

</body>
</html>