<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Joy Rhee Portfolio</title>
  </head>

  <body>
    <ul class="nav d-flex justify-content-around" id="nav">
      <li class="nav-item">
        <a class="nav-link fs-5" aria-current="page" href="../../index.html"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5" href="./work.html">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5" href="./contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-5" href="https://docs.google.com/document/d/1kuYsg34VDdUk0xcjh6V51tIn_Fgd9_joyUJ65NhWCew/edit?usp=sharing" target="_blank">Résumé</a>
      </li>
    </ul>

    <h1 class="d-flex justify-content-around p-4" id="work-header">Work</h1>

    <!-- Oui -->
    <div class="d-flex justify-content-around align-self-center p-4">
      <img
        src="../../assets/images/homepage.png"
        alt="oui community board"
        class="oui rounded"
      />
      <div class="d-flex align-self-center p-4">
        <p>
          <strong>Oui Circle</strong><br /><br />
          ipsum dolor sit amet, consectetur adipisicing elit. Natus at eaque eum
          vel sunt quae non doloremque sapiente, similique laborum optio
          recusandae voluptatibus labore eligendi, aperiam tenetur, qui animi
          repudiandae?<br /><br />
          <a href="http://oui-circle-app.herokuapp.com/" target="_blank">
            <button type="button" class="btn btn-outline-secondary" id="oui">
              Oui Circle
            </button></a
          >
          <a href="https://github.com/joyfullyx/project-2" target="_blank">
            <button
              type="button"
              class="btn btn-outline-secondary"
              id="oui-repo"
            >
              Github Repo
            </button>
          </a>
        </p>
      </div>
    </div>

    <!-- vaccine finder -->
    <div class="d-flex justify-content-around align-self-center p-4">
      <img
        src="../../assets/images/landing-screen.png"
        alt="oui community board"
        class="oui rounded"
      />
      <div class="d-flex align-self-center p-4">
        <p>
          <strong>Covid-19 Vaccine Finder</strong><br /><br />
          ipsum dolor sit amet, consectetur adipisicing elit. Natus at eaque eum
          vel sunt quae non doloremque sapiente, similique laborum optio
          recusandae voluptatibus labore eligendi, aperiam tenetur, qui animi
          repudiandae?<br /><br />
          <a href="https://joyfullyx.github.io/project-covid/" target="_blank"><button type="button" class="btn btn-outline-secondary">
            Vaccine Finder
          </button></a>
          <a href="https://github.com/joyfullyx/project-covid" target="_blank"><button type="button" class="btn btn-outline-secondary">
            Github Repo
          </button></a>
        </p>
      </div>
    </div>

    <!-- readme generator -->
    <div class="d-flex justify-content-around align-self-center p-4">
      <img
        src="../../assets/images/home-screen.png"
        alt="oui community board"
        class="oui rounded"
      />
      <div class="d-flex align-self-center p-4">
        <p>
          <strong>Express Note Taker</strong><br /><br />
          ipsum dolor sit amet, consectetur adipisicing elit. Natus at eaque eum
          vel sunt quae non doloremque sapiente, similique laborum optio
          recusandae voluptatibus labore eligendi, aperiam tenetur, qui animi
          repudiandae?<br /><br />
          <a href="https://joys-note-taker.herokuapp.com/" target="_blank"><button type="button" class="btn btn-outline-secondary">
            Note Taker
          </button></a>
          <a href="https://github.com/joyfullyx/note-taker" target="_blank"><button type="button" class="btn btn-outline-secondary">
            Github Repo
          </button></a>
        </p>
      </div>
    </div>

    <!-- E-commerce Inventory Tracker -->
    <div class="d-flex justify-content-around align-self-center p-4">
      <img
        src="../../assets/images/example-2.png"
        alt="oui community board"
        class="oui rounded"
      />
      <div class="d-flex align-self-center p-4">
        <p>
          <strong>Express E-Commerce Inventory Tracker</strong><br /><br />
          ipsum dolor sit amet, consectetur adipisicing elit. Natus at eaque eum
          vel sunt quae non doloremque sapiente, similique laborum optio
          recusandae voluptatibus labore eligendi, aperiam tenetur, qui animi
          repudiandae?<br /><br />
          <button type="button" class="btn btn-outline-secondary">
            Inventory Tracker
          </button>
          <a href="https://github.com/joyfullyx/express-ecommerce" target="_blank"></a><button type="button" class="btn btn-outline-secondary">
            Github Repo
          </button></a>
        </p>
      </div>
    </div>
  </body>
</html>
