* {
    background-color: #f8f8f8;
}

h1 {
    color: #686868;
}

.nav-link {
    color: #686868;
}

.nav-link:hover {
    color: black;
}

#profile-pic {
    width: 50%;
}

#bio {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

#work-header {
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.oui {
    width:50%
}

.devicon-bootstrap-plain-wordmark {
    font-size: 50px;
}

.devicon-chrome-plain-wordmark {
    font-size: 50px;
}

.devicon-css3-plain-wordmark {
    font-size: 50px;
}

.devicon-git-plain-wordmark {
    font-size: 50px;
}

.devicon-github-original {
    font-size: 50px;
}

.devicon-gitlab-plain-wordmark {
    font-size: 50px;
}

.devicon-handlebars-plain-wordmark {
    font-size: 50px;
}

.devicon-heroku-original-wordmark {
    font-size: 50px;
}

.devicon-html5-plain-wordmark {
    font-size: 50px;
}

.devicon-intellij-plain-wordmark {
    font-size: 50px;
}

.devicon-javascript-plain {
    font-size: 50px;
}

.devicon-jquery-plain-wordmark {
    font-size: 50px;
}

.devicon-mongodb-plain-wordmark {
    font-size: 50px;
}

.devicon-mysql-plain-wordmark {
    font-size: 50px;
}

.devicon-nodejs-plain-wordmark {
    font-size: 50px;
}

.devicon-npm-original-wordmark {
    font-size: 50px;
}

.devicon-react-original-wordmark {
    font-size: 50px;
}

.devicon-sequelize-plain {
    font-size: 50px;
}

.devicon-visualstudio-plain-wordmark {
    font-size: 50px;
}