* {
    background-color: #f8f8f8;
}

h1 {
    color: #686868;
}

.nav-link {
    color: #686868;
}

.nav-link:hover {
    color: black;
}

#profile-pic {
    width: 50%;
}

#bio {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

#work-header {
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.oui {
    width:50%
}
